/* ---------------------------------------------------------------------------------------------------------------- */
/* THIS WILL BE THE DROP-IN CONFIG  */ 
/* ---------------------------------------------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&display=swap');

:root {
  /* Typography */
  --font-main: 'Merriweather', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --font-header: 'Poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --font-monospace: 'Anonymous Pro', Anonymous, monospace;
  
  --line-height: 1.6;
  --letter-spacing: 0.6px;
 
  /* layout */
  --grid-gap: 30px;
  --narrow-padding: 1px 3px;
  --default-padding: 3px 6px;
  --wide-padding: 9px 18px;
  --narrow-margin: 6px 12px;
  --default-margin: 12px 21px;
  --wide-margin: 24px 42px;

    /* spacing */
  /*
  --grid-gap: 42px;
  --narrow-padding: 1px 3px;
  --default-padding: 3px 6px;
  --wide-padding: 9px 18px;
  --narrow-margin: 6px 12px;
  --default-margin: 12px 21px;
  --wide-margin: 24px 42px;
  --line-height: 1.6;
  --letter-spacing: 0.6px;
  */
  /* Colors */
  /*
  /* todo -- light dark
  color-scheme: light dark;
  --light-bg: snow;
  --light-color: black;
  --dark-bg: black;
  --dark-color: snow;
  */

  /* main */
  --off-black: oklch(23.298% 0.00308 16.905);
  --off-white: oklab(98.894% 0.0051 0.00147);
  
  --light: oklch(0.9758 0.0054 95.1);
  --dark: oklch(0.3518 0.0054 95.1);

  --grey: oklch(61% 0.00006 272);

  --primary: oklch(0.6 0.18 239);      /* blue fusion */
  --secondary: oklch(0.59 0.14 192);   /* coral seae  */
  --accent: oklch(0.64 0.28 308);

  /* signaling */
  --danger: oklch(62.991% 0.25 25);
  --warning: oklch(0.8397 0.211 92.12);
  --success: oklch(0.6285 0.2222 145);
  --info: oklch(0.6202 0.1942 252);
  
  /* support */
  --support-1: oklch(0.9 0 0); /* cloud dancer - pantone color of the year */
  --support-2: oklch(0.73 0.25 350); /* pink */
  --support-3: oklch(0.59 0.1 261.57); /* marine */
  --support-4: oklch(0.59 0.14 192);  /* coral sea */
  --support-5: oklch(0.53 0.09 193.77);  /* derma green  */
  --support-6: oklch(0.71 0.18 16.62); /* derma pink */ 

}