/* ---------------------------------------------------------------------------------------------------------------- */
/* THIS WILL BE ACTUAL ELEGANCE CSS  */ 
/* ---------------------------------------------------------------------------------------------------------------- */

:root {
  /*
  color-scheme: light dark;
  --light-bg: snow;
  --light-color: black;
  --dark-bg: black;
  --dark-color: snow;
  * {
    background-color: light-dark(var(--light-bg), var(--dark-bg));
    color: light-dark(var(--light-color), var(--dark-color));
  }
  */
  --grey-light: color-mix(in oklab, var(--grey) 75%, white);
  --grey-lighter: color-mix(in oklab, var(--grey) 50%, white);
  --grey-lightest: color-mix(in oklab, var(--grey) 25%, white);
  --grey-darkest: color-mix(in oklab, var(--grey) 25%, black);
  --grey-darker: color-mix(in oklab, var(--grey) 50%, black);
  --grey-dark: color-mix(in oklab, var(--grey) 75%, black);  

  --primary-light: color-mix(in oklab, var(--primary) 75%, white);
  --primary-lighter: color-mix(in oklab, var(--primary) 50%, white);
  --primary-lightest: color-mix(in oklab, var(--primary) 25%, white);
  --primary-darkest: color-mix(in oklab, var(--primary) 25%, black);
  --primary-darker: color-mix(in oklab, var(--primary) 50%, black);
  --primary-dark: color-mix(in oklab, var(--primary) 75%, black);

  --secondary-light: color-mix(in oklab, var(--secondary) 75%, white);
  --secondary-lighter: color-mix(in oklab, var(--secondary) 50%, white);
  --secondary-lightest: color-mix(in oklab, var(--secondary) 25%, white);
  --secondary-darkest: color-mix(in oklab, var(--secondary) 25%, black);
  --secondary-darker: color-mix(in oklab, var(--secondary) 50%, black);
  --secondary-dark: color-mix(in oklab, var(--secondary) 75%, black);

  --accent-light: color-mix(in oklab, var(--accent) 75%, white);
  --accent-lighter: color-mix(in oklab, var(--accent) 50%, white);
  --accent-lightest: color-mix(in oklab, var(--accent) 25%, white);
  --accent-darkest: color-mix(in oklab, var(--accent) 25%, black);
  --accent-darker: color-mix(in oklab, var(--accent) 50%, black);
  --accent-dark: color-mix(in oklab, var(--accent) 75%, black);

  --danger-light: color-mix(in oklab, var(--danger) 75%, white);
  --danger-lighter: color-mix(in oklab, var(--danger) 50%, white);
  --danger-lightest: color-mix(in oklab, var(--danger) 25%, white);
  --danger-darkest: color-mix(in oklab, var(--danger) 25%, black);
  --danger-darker: color-mix(in oklab, var(--danger) 50%, black);
  --danger-dark: color-mix(in oklab, var(--danger) 75%, black);

  --warning-light: color-mix(in oklab, var(--warning) 75%, white);
  --warning-lighter: color-mix(in oklab, var(--warning) 50%, white);
  --warning-lightest: color-mix(in oklab, var(--warning) 25%, white);
  --warning-darkest: color-mix(in oklab, var(--warning) 25%, black);
  --warning-darker: color-mix(in oklab, var(--warning) 50%, black);
  --warning-dark: color-mix(in oklab, var(--warning) 75%, black);

  --info-light: color-mix(in oklab, var(--info) 75%, white);
  --info-lighter: color-mix(in oklab, var(--info) 50%, white);
  --info-lightest: color-mix(in oklab, var(--info) 25%, white);
  --info-darkest: color-mix(in oklab, var(--info) 25%, black);
  --info-darker: color-mix(in oklab, var(--info) 50%, black);
  --info-dark: color-mix(in oklab, var(--info) 75%, black);

  --success-light: color-mix(in oklab, var(--success) 75%, white);
  --success-lighter: color-mix(in oklab, var(--success) 50%, white);
  --success-lightest: color-mix(in oklab, var(--success) 25%, white);
  --success-darkest: color-mix(in oklab, var(--success) 25%, black);
  --success-darker: color-mix(in oklab, var(--success) 50%, black);
  --success-dark: color-mix(in oklab, var(--success) 75%, black);

  --support-1-light: color-mix(in oklab, var(--support-1) 75%, white);
  --support-1-lighter: color-mix(in oklab, var(--support-1) 50%, white);
  --support-1-lightest: color-mix(in oklab, var(--support-1) 25%, white);
  --support-1-darkest: color-mix(in oklab, var(--support-1) 25%, black);
  --support-1-darker: color-mix(in oklab, var(--support-1) 50%, black);
  --support-1-dark: color-mix(in oklab, var(--support-1) 75%, black);

  --support-2-light: color-mix(in oklab, var(--support-2) 75%, white);
  --support-2-lighter: color-mix(in oklab, var(--support-2) 50%, white);
  --support-2-lightest: color-mix(in oklab, var(--support-2) 25%, white);
  --support-2-darkest: color-mix(in oklab, var(--support-2) 25%, black);
  --support-2-darker: color-mix(in oklab, var(--support-2) 50%, black);
  --support-2-dark: color-mix(in oklab, var(--support-2) 75%, black);

  --support-3-light: color-mix(in oklab, var(--support-3) 75%, white);
  --support-3-lighter: color-mix(in oklab, var(--support-3) 50%, white);
  --support-3-lightest: color-mix(in oklab, var(--support-3) 25%, white);
  --support-3-darkest: color-mix(in oklab, var(--support-3) 25%, black);
  --support-3-darker: color-mix(in oklab, var(--support-3) 50%, black);
  --support-3-dark: color-mix(in oklab, var(--support-3) 75%, black);

  --support-4-light: color-mix(in oklab, var(--support-4) 75%, white);
  --support-4-lighter: color-mix(in oklab, var(--support-4) 50%, white);
  --support-4-lightest: color-mix(in oklab, var(--support-4) 25%, white);
  --support-4-darkest: color-mix(in oklab, var(--support-4) 25%, black);
  --support-4-darker: color-mix(in oklab, var(--support-4) 50%, black);
  --support-4-dark: color-mix(in oklab, var(--support-4) 75%, black);

  --support-5-light: color-mix(in oklab, var(--support-5) 75%, white);
  --support-5-lighter: color-mix(in oklab, var(--support-5) 50%, white);
  --support-5-lightest: color-mix(in oklab, var(--support-5) 25%, white);
  --support-5-darkest: color-mix(in oklab, var(--support-5) 25%, black);
  --support-5-darker: color-mix(in oklab, var(--support-5) 50%, black);
  --support-5-dark: color-mix(in oklab, var(--support-5) 75%, black);

  --support-6-light: color-mix(in oklab, var(--support-6) 75%, white);
  --support-6-lighter: color-mix(in oklab, var(--support-6) 50%, white);
  --support-6-lightest: color-mix(in oklab, var(--support-6) 25%, white);
  --support-6-darkest: color-mix(in oklab, var(--support-6) 25%, black);
  --support-6-darker: color-mix(in oklab, var(--support-6) 50%, black);
  --support-6-dark: color-mix(in oklab, var(--support-6) 75%, black);
  
  --bg-color: var(--light);
  --border-color: var(--grey-dark);
  --text-color: var(--grey-dark);
  --text-muted: var(--grey-light);  
}

/* 2. Modern Reset */
*, *::before, *::after {
  box-sizing: border-box; /* Makes padding/border not add to width */
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-main);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  color: var(--text-color);
  background-color: var(--bg-color);
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  text-wrap: pretty;
}

*, *::before, *::after {
  box-sizing: border-box;
}

::selection {
  background-color: oklch(from var(--accent-light) l c h / 0.5);
  color: snow;
}

/* 3. Typography */
h1, h2, h3, h4, h5, h6 {  
  font-family: var(--font-header);
  letter-spacing: 0;
  text-wrap: pretty;
  color: var(--text-color);

  &.inverted, .inverted {    
    color: var(--off-white);
    background-color: var(--grey-darker);
    width: fit-content;          
    padding: 0px 6px;  
  }

  &.primary, .primary {
    color: var(--primary);
    &.inverted, .inverted {    
      color: var(--primary-lightest);
      background-color: var(--primary);
      width: fit-content;          
      padding: 0px 6px;  
    }
  }
  &.secondary, .secondary {
    color: var(--secondary);
    &.inverted, .inverted {    
      color: var(--secondary-lightest);
      background-color: var(--secondary);
      width: fit-content;          
      padding: 0px 6px;  
    }
  }
  &.accent, .accent {
    color: var(--accent);
    &.inverted, .inverted {    
      color: var(--accent-lightest);
      background-color: var(--accent);
      width: fit-content;          
      padding: 0px 6px;  
    }
  }
  &.danger, .danger {
    color: var(--danger);
    &.inverted, .inverted {    
      color: var(--danger-lightest);
      background-color: var(--danger);
      width: fit-content;          
      padding: 0px 6px;  
    }
  }
  &.info, .info {
    color: var(--info);
    &.inverted, .inverted {    
      color: var(--info-lightest);
      background-color: var(--info);
      width: fit-content;          
      padding: 0px 6px;  
    }
  }
  &.success, .success {
    color: var(--success);
    &.inverted, .inverted {    
      color: var(--success-lightest);
      background-color: var(--success);
      width: fit-content;          
      padding: 0px 6px;  
    }
  }
  &.warning, .warning {
    color: var(--warning);
    &.inverted, .inverted {    
      color: var(--warning-darkest);
      background-color: var(--warning);
      width: fit-content;          
      padding: 0px 6px;  
    }
  }
}

h1, h2, h3 {
  line-height: 1.2;
  margin-bottom: 1rem;
  font-weight: 900;
  margin-bottom: 15px;
  margin-top: 24px;
}

h4, h5, h6 { 
  font-weight: 700;
  margin-bottom: 9px;
  margin-top: 24px;
}

h1 { font-size: 3.0rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2.1rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.3rem; }
h6 { font-size: 1.0rem; }

p {
  margin-bottom: 1.25rem;
}

/* 4. Links & Interactive */
a {
  color: var(--primary);
  text-decoration: none;
  transition: opacity 0.2s ease;
  
  &:hover {
    text-decoration: underline;
    opacity: 0.8;
  }
}

/*---------------------------------*/

main {
  margin: auto; 
  width: 1070px;
  max-width: 100vw;

  &.fluid {
    width: 100vw;
    max-width: auto;    
  }

  hgroup {}
  hgroup header, header {}
  section {

  }

  /* @scope (article) */
  article {
    p {
      &:first-letter {
        font-weight: 900;
        initial-letter: 3;
        padding-right: 9px;
      }
    }
  }
}

/* grids */
.grid {
  display: grid;
  margin: 6px 9px;
  grid-gap: calc( var(--grid-gap) * 0.5);
  grid-template-columns: auto;

  /* even grids */
  &.g1 { grid-template-columns: 1fr; }
  &.g2 { grid-template-columns: 1fr 1fr; }
  &.g3 { grid-template-columns: 1fr 1fr 1fr; }
  &.g4 { grid-template-columns: 1fr 1fr 1fr 1fr; }
  &.g5 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }
  &.g6 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; }
  &.g7 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
  &.g8 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
  &.g9 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
  &.g10 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
  &.g11 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
  &.g12 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
  &.g13 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
  &.g14 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
  &.g15 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }

  /* uneven grids (golden ratios) */
  &.g1-2 { grid-template-columns: 0.382fr 0.618fr; }
  &.g2-1 { grid-template-columns: 0.618fr 0.382fr; }
  
  &.g1-3 { grid-template-columns: 0.236fr 0.764fr; }
  &.g3-1 { grid-template-columns: 0.764fr 0.236fr; }
  
  &.g4-1 { grid-template-columns: 0.882fr 0.118fr; }
  &.g1-4 { grid-template-columns: 0.118fr 0.882fr; }
  
  &.g1-2-2 { grid-template-columns: 0.236fr 0.382fr 0.382fr; }
  &.g2-1-2 { grid-template-columns: 0.382fr 0.236fr 0.382fr; }
  &.g2-2-1 { grid-template-columns: 0.382fr 0.382fr 0.236fr; }

  &.g2-1-1-1 { grid-template-columns: 0.382fr 0.206fr 0.206fr 0.206fr;}
  &.g1-2-1-1 { grid-template-columns: 0.382fr 0.382fr 0.236fr; }
  &.g1-1-2-1 { grid-template-columns: 0.382fr 0.382fr 0.236fr; }
  &.g1-1-1-2 { grid-template-columns: 0.382fr 0.382fr 0.236fr; }

  &.g2-2-1-1 { grid-template-columns: 0.309fr 0.309fr 0.191fr 0.191fr;}
  &.g2-1-2-1 { grid-template-columns: 0.309fr 0.309fr  0.191fr 0.191fr; }
  &.g2-1-1-2 { grid-template-columns: 0.191 0.191 309 309;}
  &.g1-2-1-2 { grid-template-columns: 0.191 0.191 309 309;}
  &.g1-1-2-2 { grid-template-columns: 0.191 0.191 309 309;}

  &.g2-1-1-1-1 { grid-template-columns: 0.191fr 0.141fr 0.141fr 0.141fr 0.141fr;; }

  /* uneven grids 1-2 
  &.g1-2 { grid-template-columns: 1fr 2fr; }
  &.g2-1 { grid-template-columns: 2fr 1fr; }
  */
}

/* underlines */
u, ins {

}

.vertical-seperator {
  width: 2px;
  background-color: var(--dark-grey);
  height: 100%;
}

/* mark */
mark {

  position: relative;
  display: inline-block; /* Keeps the stretch confined to the text length */
  z-index: -1;            /* Creates a new stacking context */
  padding: 0 4px;
  background-color: unset;
  color: var(--text-color);

  &:after {
    content: "";
    position: absolute;
    left: -6px;
    bottom: 0;
    width: calc( 100% + 12px );
    height: 100%;
    z-index: -1;
    background-color: var(--accent-lighter); 
    /* fallback? */
    -webkit-mask-image: url('svg/pen-brushes.svg');
    mask-image: url('svg/pen-brushes.svg');
  }

  &.warning:after { background-color: var(--warning-lighter); }
  &.danger:after { background-color: var(--danger-lighter); }
  &.info:after { background-color: var(--info-lighter); }
  &.success:after { background-color: var(--success-lighter); }  
  
}

.test-icon {
  background: url('svg/person-fill.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  display: inline-block;
}

/* alert */
.alert {
  background-color: var(--grey-lighter);  
  font-weight: bolder;
  padding: 12px 6px;
  margin: 3px 6px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-header);
  font-size: larger;

  &.alert-danger { 
    background-color: var(--danger); 
    color: var(--danger-lightest);
    text-shadow: 0px 0.5px 0.2px var(--danger-darker);
  }

  &.alert-warning { 
    background-color: var(--warning); 
    color: var(--warning-darker);
    text-shadow: 0px -0.5px 0.2px var(--warning-lighter);
  }

  &.alert-success { 
    background-color: var(--success); 
    color: var(--success-lightest);
    text-shadow: 0px 0.5px 0.2px var(--success-darker);
  }

  &.alert-info { 
    background-color: var(--info); 
    color: var(--info-lightest);
    text-shadow: 0px 0.5px 0.2px var(--info-darkest);
  }
}

.pill {

}

.well {
  width: 100%;
  border-radius: 9px;
  border-width: 3px;
  border-top: 2px;
  border-style: solid;  
  padding: var(--wide-padding);
  margin: var(--wide-margin);
  width: fit-content;
  font-weight: bolder;
  
  border-color: var(--grey);
  background-color: var(--grey-lightest);
  color: var(--grey-dark);

  &.danger {
    border-color: var(--danger-dark);
    background-color: var(--danger-lighter);
    color: var(--danger-dark);
  }

  &.warning {
    border-color: var(--warning-dark);
    background-color: var(--warning-lighter);
    color: var(--warning-darker);
  }

  &.success {
    border-color: var(--success-dark);
    background-color: var(--success-lighter);
    color: var(--success-dark);
  }

  &.info {
    border-color: var(--info);
    background-color: var(--info-lighter);
    color: var(--info-dark);
  }
}



/* forms */
form, .form {
  &.horizontal {
  }

  &.stacked {
  }
}


input, textarea, select {
  padding: 3px 9px;
  margin: 6px 3px;
  font-size: 16px;
  font-family: 'Poppins';
  font-weight: 500;
  border-radius: 6px;
  border: solid 1px var(--grey-lighter);

  &:focus, &:focus-visible, &:focus-within {
    outline: var(--accent) auto 1px;
  }
}

input[type="checkbox"] {}
input[type="radio"] {}
input[type="submit"] {}
fieldset {
  legend {}
}

button {
  padding: 4px 9px;
  margin: 6px 3px;
  font-family: 'Poppins';
  font-weight: 600;
  border-radius: 9px;
  font-size: 16px;
  cursor: pointer;
  background-color: unset;  

  /* box-shadow: inset 0px -1px 0px #55555542, inset 0px 1px 1px #eeeeaa88; */
  text-shadow: 0px 1px 1px #55555542;
  background-color: var(--grey-lightest);  
  /* border-style: outset solid outset solid; */
  /* border-width: 1px; */
  border-style: solid;
  border-width: 1px;
  border-bottom-color: #33333342;
  border-left-color: #aaaaaa88;
  border-right-color: #aaaaaa88;
  border-top-color: #eeeeeeaa;
  transition-duration: 0.0s;
  
  &:hover {
    filter: brightness(1.03);
    box-shadow: inset 0px 0px 1px #55555542, inset 0px 0px 1px #eeeeaa88;
    transition-duration: 0.3s;
  }

  &:active {
    filter: brightness(0.99);
    box-shadow: inset 0px 0px 0px #eeeeee88, inset 0px -1px 0px #555555aa;    
    border-top-color: #33333342;
    border-left-color: #aaaaaa88;
    border-right-color: #aaaaaa88;
    border-bottom-color: #eeeeeeaa;
    transition-duration: 0.0s;
  }

  &.danger {
    background-color: var(--danger);
    color: var(--off-white);    
    &:hover { background-color: color-mix(in oklab, var(--danger) 86%, white); }
    &:active { background-color: color-mix(in oklab, var(--danger) 95%, black); }
  }

  &.success {
    background-color: var(--success);
    color: var(--off-white);
    &:hover { background-color: color-mix(in oklab, var(--success) 86%, white); }
    &:active { background-color: color-mix(in oklab, var(--success) 95%, black); }
  }

  &.warning {
    background-color: var(--warning);
    color: var(--yellow-darkest);
    &:hover { background-color: color-mix(in oklab, var(--warning) 86%, white); }
    &:active { background-color: color-mix(in oklab, var(--warning) 95%, black); }
  }
  
  &.info {
    background-color: var(--info);
    color: var(--off-white);
    &:hover { background-color: color-mix(in oklab, var(--info) 86%, white); }
    &:active { background-color: color-mix(in oklab, var(--info) 95%, black); }
  }

  &.primary {
    background-color: var(--primary);
    color: var(--off-white);
    &:hover { background-color: color-mix(in oklab, var(--primary) 86%, white); }
    &:active { background-color: color-mix(in oklab, var(--primary) 95%, black); }
  }

  &.secondary {
    background-color: var(--secondary);
    color: var(--off-white);
    &:hover { background-color: color-mix(in oklab, var(--secondary) 86%, white); }
    &:active { background-color: color-mix(in oklab, var(--secondary) 95%, black); }
  }

  &.light {
    background-color: var(--light);
    color: var(--off-black);
    &:hover { background-color: color-mix(in oklab, var(--light) 86%, white); }
    &:active { background-color: color-mix(in oklab, var(--light) 95%, black); }
  }

  &.dark {
    background-color: var(--dark);
    color: var(--off-white);
    &:hover { background-color: color-mix(in oklab, var(--dark) 86%, white); }
    &:active { background-color: color-mix(in oklab, var(--dark) 95%, black); }
  }

  &.sm {
    padding: 1px 3px;
    margin: 1px 6px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 500;
  }

  &.lg {
    padding: 4px 15px;
    margin: 6px 3px;
    border-radius: 12px;
    font-size: 24px;
    font-weight: 700;
  }
}

.button-group {
  display: flex;

  button {
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
    border-left: unset;
  }

  button:first-child {
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    border-left: solid 2px var(--grey-lighter);
  }

  button:last-child {
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
  }
}

select {}
progress {}
meter {}

/* dialogs */
dialog {
  margin: auto auto;
  width: 63vw;
  
  header {
    display: flex;  
    justify-content: space-between;
    border-bottom: solid 2px var(--border-color);
  }

  footer {
    border-top: solid 2px var(--border-color);
    text-align: center;
  }

  .close_btn {
    width: 24px;
    height: 23px;
    padding: 0;
    display: flex;
    align-items: center;             
    justify-content: center;    
  }  
}

kbd, code, pre, time, samp {

  &.codeblock {
    font-family: var(--font-monospace);  
    white-space: break-spaces;
    display: block;
    background-color: var(--grey-lighter);
    background: linear-gradient(
        to bottom,
        color-mix(in oklab, var(--grey-lighter) 71%, white),
        color-mix(in oklab, var(--grey-lighter) 71%, white), 50%, 
        var(--grey-lightest), 50%,
        var(--grey-lightest)
      );
    background-size: 100% 50px;
    background-position: 0px 0px;
    line-height: 25px;   
    margin: 12px 3px;
  }
}

blockquote {
  background-color: var(--grey-lightest);
  font-size: 16x;
  display: inline-block;
  border-left: solid 6px var(--border-color);
  padding-left: 12px;
  font-weight: bolder;
  letter-spacing: 1.1px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px 42px;
  border-bottom: solid 2px var(--support-1);
  margin-bottom: 18px;

  &.fixed, &.sticky {
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
    z-index: 999;
  }

  menu {    
    margin-left: 24px;
    text-align: right;
    max-width: 50%;  
    li {
      display: inline;
      padding: 0 12px;
      border-right: solid 1px var(--border-color);
    }
    li:last-child {
      border-right: none;
    }
  }
}

ul, ol, menu {
  margin-left: 24px;
  list-style: square;
  li {} 
}

dl {
  &.horizontal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    dt {
      width: fit-content;
      font-weight: 700;
      min-width: 25%;
      text-align: right;      
    }

    dd {    
      width: max-content;
      min-width: 75%;
      padding-left: 18px;
    }

    hr {
      width: 100%;
      margin-bottom: 15px;
    }
  }
}


dfn, cite, em, q, i {

}

b, strong {

}

abbr {

}

details {
  summery {}
  p {}
}

.form-group {}
.form-group.horizontal {}
.form-control {}
.input-addition {}

table {
  width: 90%;
  caption{
    background-color: var(--support-1-light);
    font-family: var(--font-header);
    font-size: 12px;
    padding: 3px 0px;
  }
  thead {
    tr {
      background-color: var(--grey-light);
      color: white;
    }
  }

  tbody {
    tr:nth-child(odd) {
      background-color: var(--support-1);
    }
    tr:nth-child(even) {
      background-color: var(--support-1-lighter);
    }
    td {
      padding: 0px 6px;
    }
  }

  tfoot {    
    tr {
      background-color: var(--grey);
      color: white;    
    }
  }
}

.badge {}
.callout {}
.list {}

.disabled {}


img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* loose idea, border radius 2 */
.card {
  h1, h2, h3, h4, h5, h6 {
    padding-bottom: 12px;
    padding-top: 6px;
  }
  background-color: white;
  border: solid 1px var(--support-1-dark);
  border-radius: 9px;
  padding: 0 9px;
  overflow: hidden;
  filter: drop-shadow(0.5px 3px 0px var(--support-1-dark));
}

.text-center { text-align: center; }
.text-justify { text-align: justify; }
.text-end, .text-right { text-align: end; }
.text-start, .text-left { text-align: start; }
.hidden { display: none }

.color-swatch {
  display: inline-block;
  height: 21px;
  width: 21px;  
  vertical-align: text-bottom ;

  &.primary { background-color: var(--primary); }
  &.secondary { background-color: var(--secondary); }
  &.accent { background-color: var(--accent); }
  &.info { background-color: var(--info); }
  &.success { background-color: var(--success); }
  &.warning { background-color: var(--warning); }
  &.danger { background-color: var(--danger); }
}

.spacer {
  height: 42px;
}

figure {
  height: 100%;
  width: 100%;
  background: linear-gradient( 180deg, var(--support-1) 61.8%, transparent 81% );
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 9px;

  &.center {
    align-items: top;
  }
  &.bottom {
    align-items: center;
  }

  &.polaroid {
    img {
      border: solid 9px snow;
      border-bottom-width: 30px;
      filter: drop-shadow(0px 2px 3px #33333388) drop-shadow(9px 1px 12px #33333344);
      rotate: 2deg;
      margin-left: 9px;
      margin-top: -9px;
    }
  }
}